.add-form{
    background-color:rgb(240, 240, 240);

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 5em;

    font-weight: bold;

    padding: 0px 20px 0px 20px;
}

.add-input{
    border: none;
    border-radius: 10px;
    width: 260px;
    height: 40px;

    margin: 20px;
}

.add-button{
    background-color: rgb(67, 134, 125);

    border: none;
    border-radius: 10px;
    width: 130px;
    height: 40px;

    color: white;
    font-weight: bold;
}

.todo {
    border: solid 4px rgb(67, 134, 125);
    border-radius: 10px;
   
    width: 320px;
    height: 215px;
    padding: 12px 24px 24px 24px;   
    margin: 10px;
    
}

