.todo-container{
    border: solid 4px rgb(67, 134, 125);
    border-radius: 10px;

    width: 270px;
    padding: 12px 24px 24px 24px;
}

.buttons {
    width: 280px;
    margin: auto;

    display: flex;
    justify-content: space-around;
}

.button{
    background-color: transparent;

    border: solid 2px;
    border-radius: 10px;
    width: 130px;
    height: 40px;

    font-size: 1em;

}

.todo-delete-button { 
    border: solid 2px red;
}

.todo-complete-button { 
    border: solid 2px green;
}
